@using System.Linq;
@using System.Globalization;

@model List<KaartingenGrootDeinze.Models.Kaarting>

@{
    ViewBag.Title = "Kaartingen";
}

<div class="row">
    <h2 class="col-md-7">Kaartingen</h2>
    <p id="sponsorTekst" class="col-md-2">Met dank aan:</p>
    <div id="sponsorsCarousel" class="carousel slide col-md-3" data-ride="carousel" data-interval="3000">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox" style="align-items:center">
            <div class="item active">
                <span>De IJsputvissers</span>
            </div>
            <div class="item">
                <span><a href="https://www.facebook.com/pages/category/Tire-Dealer---Repair-Shop/Bandencentrale-Van-De-Weghe-596147347062306/" target="_blank">Bandencentrale Vande Weghe</a></span>
            </div>
            <div class="item">
                <span><a href="https://www.facebook.com/pages/category/Bar/Caf%C3%A9-Jeruzalem-277876615578615/" target="_blank">Café Jeruzalem (Machelen)</a></span>
            </div>
            <div class="item">
                <span><a href="https://www.facebook.com/pg/Cafe-tonneke-machelen-zulte-397172047332812/about/?ref=page_internal" target="_blank">Café Tonneke (Machelen)</a></span>
            </div>
            <div class="item">
                <span>Café Rembrandt (Kruisem)</span>
            </div>
        </div>
    </div>

</div>

<table class="table table-hover" id="tableAlleKaartingen">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Datum)
            </th>
            <th>
                Zaak
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Zaak.Plaats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Prijzengeld)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Startuur)
            </th>
            @if (Request.IsAuthenticated)
            {
                <th>Bewerkingen</th>
            }
        </tr>
    </thead>
    <tbody>
        @{ 
            CultureInfo ci = new CultureInfo("nl-BE", false);
        }
        @foreach (var kaarting in Model)
        {
            string datum = kaarting.Datum.ToString("dddd dd/MM/yy", ci);
            <tr>
                <td>
                    @datum
                </td>
                <td>
                    @Html.DisplayFor(m => kaarting.Zaak.Naam)
                </td>
                <td>
                    @Html.DisplayFor(m => kaarting.Zaak.Plaats)
                </td>
                @if (kaarting.Zaak.Naam != "GEEN KAARTING")
                {
                    <td>
                        @Html.DisplayFor(m => kaarting.Prijzengeld)
                    </td>
                    <td>
                        @Html.DisplayFor(m => kaarting.Startuur)
                    </td>
                }
                else
                {
                    <td>
                        @Html.HiddenFor(m => kaarting.Prijzengeld)
                    </td>
                    <td>
                        @Html.HiddenFor(m => kaarting.Startuur)
                    </td>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        @Html.ActionLink("Wijzig", "WijzigenForm", new { id = kaarting.KaartingId }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Verwijder", "VerwijderenForm", new { id = kaarting.KaartingId }, new { @class = "btn btn-primary" })
                    </td>
                }
            </tr>
        }
    </tbody>
</table>


@Html.ActionLink("Print kaartingen", "ExportToPDF", "Kaarting", null, new { @class = "btn btn-primary", @id = "btnPrint", @target = "_blank" })

@if (Request.IsAuthenticated)
{
    @Html.ActionLink("Kaarting toevoegen", "ToevoegenForm", "Kaarting", null, new { @class = "btn btn-primary", @id = "btnKaartingAdd" })
}
