@model KaartingenGrootDeinze.Models.KaartingViewModel

@{
    ViewBag.Title = "Toevoegen kaarting";
}

<h2>Kaarting toevoegen</h2>

@using (Html.BeginForm("Toevoegen", "Kaarting", FormMethod.Post))
{
    @Html.LabelFor(m => m.Datum)
    @Html.ValidationMessageFor(m => m.Datum, "*")
    @Html.EditorFor(m => m.Datum)
    @Html.LabelFor(m => m.Zaken)
    @Html.DropDownListFor(m => m.ZaakId, new SelectList(Model.Zaken.OrderBy(m => m.Naam), "ZaakId", "Naam"), "-- Selecteer --")
    @Html.LabelFor(m => m.Prijzengeld)
    @Html.ValidationMessageFor(m => m.Prijzengeld, "*")
    @Html.EditorFor(m => m.Prijzengeld)
    @Html.LabelFor(m => m.Startuur)
    @Html.ValidationMessageFor(m => m.Startuur, "*")
    @Html.EditorFor(m => m.Startuur)

    var url = Url.Action("Index", "Kaarting", null);
    <input type="submit" class="btn btn-primary" value="Opslaan" />
    <a href="@url" class="btn btn-primary">Annuleren</a>
}
@Html.ValidationSummary("Er zijn validatiefouten:")

