@model List<KaartingenGrootDeinze.Models.Zaak>

@{
    ViewBag.Title = "Zaken";
}

<h2>Zaken</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Naam</th>
            <th>Plaats</th>
            @if (Request.IsAuthenticated)
            {
                <th>Bewerkingen</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var zaak in Model)
        {
            if (zaak.Naam != "GEEN KAARTING")
            {
                <tr>
                    <td>@Html.DisplayFor(m => zaak.Naam)</td>
                    <td>@Html.DisplayFor(m => zaak.Plaats)</td>
                    @if (Request.IsAuthenticated)
                    {
                    <td>
                        @Html.ActionLink("Wijzig", "WijzigenForm", new { id = zaak.ZaakId }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Verwijder", "VerwijderenForm", new { id = zaak.ZaakId }, new { @class = "btn btn-primary" })
                    </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>

@if (Request.IsAuthenticated)
{
    @Html.ActionLink("Zaak toevoegen", "ToevoegenForm", "Zaak", null, new { @class = "btn btn-primary" })
}