<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Kaartingen in Deinze en omstreken">
    <title>@ViewBag.Title | Kaartingen Deinze en omstreken</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>


<body>
    <div class="jumbotron text-center">
        <h1>
            <div class=" jumboflex">
                <div id="jumbotitle">Kaartingen Deinze en omstreken</div>
                <div id="jumboimage"><img src="~/Images/Cards4.jpg" alt="kaartingen" class="img-rounded" /></div>
            </div>
        </h1>
    </div>
    <div class="nav nav-pills">
        <div class="container">
            <div>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Kaartingen", "Index", "Kaarting")</li>
                    <li>@Html.ActionLink("Zaken", "Index", "Zaak")</li>
                    <li>@Html.ActionLink("Nieuwsberichten", "Index", "Nieuwsbericht")</li>
                    <li>@Html.ActionLink("Contact", "ContactForm", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; @DateTime.Now.Year - Kaartingen Deinze en omstreken</p>
                </div>
                <div class="col-md-6">
                    <p style="text-align:right">Ontwikkeld door <a href="http://www.inksniper.be" target="_blank"><span style="font-weight:bold; color:black">Ink Sniper</span></a></p>
                </div>
            </div>
            
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>