@using System.Collections.Generic;
@using System.Linq;
@using System.Globalization;


@model List<KaartingenGrootDeinze.Models.Kaarting>

@{
    ViewBag.Title = "Home";
}

<h2>Laatste nieuwsbericht</h2>
<p id="laatsteNieuwsbericht">@ViewBag.Bericht</p>

<h2>Toekomstige kaartingen</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Zaak</th>
            <th>Plaats</th>
            <th>Prijzengeld</th>
            <th>Startuur</th>
        </tr>
    </thead>
    <tbody>
        @{
            CultureInfo ci = new CultureInfo("nl-BE", false);
        }
        @foreach (var kaarting in Model)
        {
            string datum = kaarting.Datum.ToString("D", ci);
            <tr>
                <td>@datum</td>
                <td>@Html.DisplayFor(m => kaarting.Zaak.Naam)</td>
                <td>@Html.DisplayFor(m => kaarting.Zaak.Plaats)</td>
                @if (kaarting.Zaak.Naam != "GEEN KAARTING")
                {
                    <td>@Html.DisplayFor(m => kaarting.Prijzengeld)</td>
                    <td>@Html.DisplayFor(m => kaarting.Startuur)</td>
                }
                else
                {
                    <td>@Html.HiddenFor(m => kaarting.Prijzengeld)</td>
                    <td>@Html.HiddenFor(m => kaarting.Startuur)</td>
                }

            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Toon alle kaartingen", "Index", "Kaarting", null, new { @class = "btn btn-primary" })